/**
 * Utilities
 */
.noLineHeight {
  line-height: 1;
}

.noScroll {
  overflow: hidden;
}

.noMargin {
  margin: 0;
}

.noPadding {
  padding: 0;
}

/**
 * Colors
 */
.white {
  color: $white;
}

.black {
  color: $black;
}

.yellow {
  color: #c0ffee;
}