/******************************
 * Colors
 ******************************/
// Grayscale
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #888888 !default;
$gray-600: #555555 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$body: $gray-900 !default;
$line: $gray-200 !default;

// Others
$red: #b3282d !default;
$blue: #009cff !default;
$orange: #fb1 !default;

/******************************
 * Spacing
 ******************************/
$quarter: .25rem !default;
$half: .5rem !default;
$threefourth: .75rem !default;
$single: 1rem !default;

/******************************
 * Layout
 ******************************/
$grid-breakpoints: (xs: 0, sm: 544px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px) !default;
$image-breakpoints: (xs: 576, sm: 800, md: 1024, lg: 1280, xl: 1440, xxl: 1600) !default;
$desktop: 'md' !default;
$container-width: 1200px !default;
$container-landing-width: 1400px !default;
$container-text-width: 700px !default;

/******************************
 * Elements
 ******************************/
// Links
$link-color: $red !default;
$link-hover-color: $blue !default;

// List
$list-style-type-ul-first: square !default;
$list-style-type-ul-second: disc !default;
$list-style-type-ul-third: circle !default;
$list-style-type-ol-first: decimal !default;
$list-style-type-ol-second: lower-alpha !default;
$list-style-type-ol-third: lower-roman !default;
$list-padding-left: $single !default;

/******************************
 * Typography
 ******************************/
$font-size-root: 18px !default;
$font-size-mini: 16px !default;
$font-size: 1rem !default;

// Weights
$font-weight-light: 300 !default;
$font-weight-normal: 300 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 700 !default;

// Sizes
$font-size-h1: 2.074rem !default;
$font-size-h2: 1.728rem !default;
$font-size-h3: 1.44rem !default;
$font-size-large: 1.2rem !default;
$font-size-regular: 1rem !default;
$font-size-small: .833rem !default;
$font-size-micro: .694rem !default;

// Line Heights
$line-height: 1.45 !default;
$headings-line-height: 1.25 !default;

// Sans Serif
$font-family: "Permanent Marker",
sans-serif;

/******************************
 * Miscellaneous
 ******************************/
// Z-Index
$zindex-header: 10000 !default;